page-movie {
    .segment-md .segment-button {
        height: 3rem;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 3rem;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 1.5rem;
        font-weight: normal;
    }
}